#score {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 400px;
    float: right;
    border: 3px solid black;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


div#preload { display: none; 
}

#rollWrapper{
    float: right;
    padding-right: 40%;
}

.buttons{
    border-radius: 40%;
    padding: 20%;

}

#endGame{
    padding: 5%;
}

